@font-face {
  font-family: 'mc-font';
  src: url('../fonts/mc_font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --dw-font-family: 'mc-font', -apple-system, BlinkMacSystemFont, sans-serif;
  // button 默认
  --dw-color-bg: #6F6F6F;
  --dw-color-bg-active: #2C2C2C;
  --dw-color-bg-disabled: #2C2C2C;

  --dw-color-text: #FFFFFF;
  --dw-color-text-diabled: #A0A0A0;

  --dw-color-border: #000000;
  --dw-color-hover-border: #ffffff;

  // button 主要
  --dw-color-bg-primary: #00AA00;
  --dw-color-bg-primary-active: #002A00;
  --dw-color-bg-primary-disabled: #002A00;

  // button 危险
  --dw-color-bg-danger: #AA0000;
  --dw-color-bg-danger-active: #2A0000;
  --dw-color-bg-danger-disabled: #2A0000;

  // 间距
  --dw-spacing-xs: 4px;
  --dw-spacing-sm: 8px;
  --dw-spacing-md: 12px;
  --dw-spacing-lg: 16px;

  // 宽度
  --dw-width-md: 150px;
  --dw-width--xl: 300px;

  // 字号
  --dw-font-size-sm: 12px;
  --dw-font-size-base: 16px;
  --dw-font-size-lg: 18px;

  // 阴影
  --dw-text-color-shadow: 1px 1px #3F3F3F;
  --dw-text-disabled-color-shadow: 1px 1px #282828;
  --dw-shadow-base: inset -3px 0 #00000038 ,inset 0 -6px #00000038, inset 3px 3px #FFFFFF66;
}
