@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as *;

.dw-button {
  @include flex-center;
  gap: 4px;
  padding: var(--dw-spacing-md) var(--dw-spacing-lg);
  font-size: var(--dw-font-size-base);
  border: 3px solid var(--dw-color-border);
  box-shadow: var(--dw-shadow-base);
  text-shadow: var(--dw-text-color-shadow);
  background: var(--dw-color-bg);
  color: var(--dw-color-text);
  user-select: none;
  white-space: nowrap;

  &:hover:not(:disabled) {
    border-color: var(--dw-color-hover-border);
  }

  &--active-bg:active:not(:disabled) {
    background: var(--dw-color-bg-active);
    border-color: var(--dw-color-hover-border);
    box-shadow: none;
  }

  &:disabled {
    background: var(--dw-color-bg-disabled);
    color: var(--dw-color-text-diabled);
    box-shadow: none;
    text-shadow: var(--dw-text-disabled-color-shadow);
    cursor: not-allowed;
  }

  // 尺寸变体
  @each $size in $sizes {
    &--#{$size} {
      @if $size == medium {
        width: var(--dw-width-md);
      } @else if $size == large {
        width: var(--dw-width--xl);
      }
    }
  }

  // 类型变体
  @each $type in $types {
    &--#{$type} {
      @if $type == primary {
        background: var(--dw-color-bg-primary);

        &.dw-button--active-bg:active:not(:disabled) {
          background: var(--dw-color-bg-primary-active);
        }
        &:disabled {
          background: var(--dw-color-bg-primary-disabled);
        }
      } @else if $type == danger {
        background: var(--dw-color-bg-danger);

        &.dw-button--active-bg:active:not(:disabled) {
          background: var(--dw-color-bg-danger-active);
        }
        &:disabled {
          background: var(--dw-color-bg-danger-disabled);
        }
      }
    }
  }

  &__loading {
    width: 1em;
    height: 1em;
    border: 2px solid currentColor;
    border-top-color: transparent;
    border-radius: 50%;
    animation: ui-spin 0.6s linear infinite;
  }

  &__icon {
    display: inline-flex;
    width: 1em;
    height: 1em;
    margin-right: var(--dw-spacing-xs);
    vertical-align: middle;
    filter: drop-shadow(1px 1px 0 var(--dw-text-color-shadow));

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes ui-spin {
  to {
    transform: rotate(360deg);
  }
}
